* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	background-color: #2f3242;
}

h1 {
	color: #f6f9f9;
}

h1:hover {
	color: #2196f3;
}

.mainHeader {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 100%;
	height: 100px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.5);
	background-color: #2f3242;
}

.mainHeader__img {
	margin: 40px;
}

.mainHeader__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 62%;
}

.mainHeader__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mainHeader__link-logo {
	color: #fff;
	padding: 0 35px 0 35px;
}

.mainHeader__link-logo:hover {
	color: #2196f3;
}

.mainHeader__btn {
	width: 135px;
	height: 50px;
	border-radius: 24px;
	border: 2px solid #2196f3;
	background-color: #2f3242;
	color: #fff;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	cursor: pointer; 
}

.mainHeader__btn i {
	color: #2196f3;
	margin-left: 10px;
}

.mainHeader__btn:hover{
	border: 2px solid #4c4f63;
	background-color: #4c4f63;
}

.sectionHeader {
	display: none;
}

.sectionHeader__block {
	height: 100px;
	width: 100%;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: #2196f3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.sectionHeader__actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 0 150px;
}

.sectionHeader__btn-inbox, 
.sectionHeader__btn-sent, 
.sectionHeader__btn-trash {
	width: 90px;
	height: 30px;
	border-radius: 8px;
	background-color: #2196f3;
	border: 1px solid #2196f3;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: #2b2d3c;
	margin-right: 7px;
	cursor: pointer;
}
.sectionHeader__btn-inbox i,  
.sectionHeader__btn-sent i, 
.sectionHeader__btn-trash i {
	padding-right: 7px;
}

.sectionHeader__btn-inbox:hover, 
.sectionHeader__btn-sent:hover, 
.sectionHeader__btn-trash:hover  {
	color: #fff;
}

.sectionHeader__btnfilter {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 50px 0 0;
}

.sectionHeader__btnfilter p {
	padding-right: 30px;
	color: #fff;
}

.sectionHeader__btn-filter {
	width: 160px;
	height: 40px;
	border-radius: 18px;
	border: 1.5px solid #fff;
	background-color: #2196f3;
	color: #fff;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.sectionHeader__btn-filter:hover {
	color: #2196f3;
	background-color: #fff;
}

.sectionHeader__btn-filter i {
	padding-left: 35px;
}

.showupMenu {
	position: absolute;
	background: #0000009e;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.users {
	border-radius: 10px;
	width: 600px;
	height: 600px;
	padding:20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	background-color: #404359;
	overflow: scroll;
	cursor: pointer;
}

.users > h2 {
	color: #fff;
	text-align: center;
}

.users button {
	padding: 10px;
	background: #2196f3;
	color: #fff;
	border-radius: 10px;
	border: 1px solid #2196f3;
	outline: none;
	cursor: pointer;
}

.users button:hover {
	background: #fff;
	border: 1px solid #fff;
	color: #2196f3;
}

.showupMenu__table {
	margin: 20px auto;
}

.showupMenu__table tr th {
	color: #fff;
	padding: 0 100px 0 100px;
}

.showupMenu__btn {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.showupMenu__btn:before {
	content: '';
	background: #2196f3;
	position: absolute;
	height: 2px;
	width: 27px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.showupMenu__btn:after {
	content: '';
	background: #2196f3;
	position: absolute;
	height: 2px;
	width: 27px;
	top: 11px;
	left: -4px;
	transform: rotate(45deg);
}

.showupMenu__inner {
	display: flex;
	align-items: center;
}

.showupMenu__inner > span {
	color: #fff;
	margin-left: 10px;
}

.wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 150px;
	margin-left: 37%;
	z-index: 980;
}

.wrapper__close {
	display: flex;
	justify-content: flex-end;
}

.wrapper__close i {
	margin: 15px 15px 0 0;
	color: #757da4;
	cursor: pointer;
}

.wrapper__href {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}

.wrapper__href:hover {
	color: #2196f3;
	cursor: pointer;
} 
	
.wrapper__main {
	width: 500px;
	min-height: 450px;
	background-color: #404359;
	border-radius: 15px;
}

.wrapper__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 25px 0 0 0;
}

.wrapper__button {
	width: 110px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #2196f3;
    font-weight: 600;
    margin: 15px 0 15px 0;
    background-color: #2196f3; 
    color: #fff;
	}

.wrapper__button:hover {
    color: #2196f3;
    background-color: #fff;
    border: 1px solid #fff; 
    cursor: pointer;
}

.wrapper__para {
	color: #2196f3;
}

.wrapper__head {
	color: #fff;
	width: 90%;
	font-size: 16px;
}

.formError {
	color: red;
}

.field {
	width: 370px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 7px 0 7px 0;
    padding: 5px;
    cursor: pointer;
}

.field:hover {
    background-color: #f0f0f0;
}

.messenger {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 130px;
	margin-top: 550px;
}

.messenger__contacts {
	min-width: 530px;
	max-width: 536px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
	background-color: #2b2d3c;
	position: relative;
	padding-bottom: 115px;
	height: 974px;
	margin-top: -550px;
	margin-left: -30px;
}

.messenger__contacts-block {
	overflow: auto;
}

.messenger__contacts_item {
	height: 110px;
	padding: 20px 24px 55px 40px;
	border-bottom: 1px solid rgba(156, 161, 178, 0.3);
	display: flex;
	flex-wrap: wrap;
	transition: all .2s;
	cursor: pointer;
}

.messenger__contacts_item:hover {
	background-color: #2f3242;
}

.messenger__contacts_item_user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 5px;
}

.messenger__contacts_item_inner {
	display: flex;
	align-items: center;
}

.messenger__contacts_item_photo > img {
	width: 53px;
	height: 53px;
	margin-right: 13px;
}

.messenger__contacts_item_name {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
}

.messenger__contacts_item_date {
	color: #2196f3;
	font-size: 14px;
	letter-spacing: 0.28px;
}

.messenger__contacts_item_last-letter {
	padding-right: 15px;
	color: #9ca1b2;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.32px;
}

.messenger__coversation {
	position: absolute;
	bottom: 0;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.btn__coversation {
	width: 449px;
	height: 51px;
	border-radius: 5px;
	background-color: #2196f3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0.24px;
	cursor: pointer;
	transition: all .2s;
	margin-top: -295px;
}

.btn__coversation:hover {
	background-color: #fff;
	color: #2196f3;
}

.btn__coversation span {
	color: #fff;
	font-weight: 600;
	font-size: 28px;
	margin-right: 14px;
}

.btn__coversation:hover span {
	color: #2196f3;
}

.messenger__block {
	min-width: 317px;
	max-width: 318px;
	height: 974px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
	background-color: #2b2d3c;
	text-align: center;
	padding: 55px 20px 10px;
	position: absolute;
	right: -333px;
	top: -550px;
	z-index: 990;
}

.messenger__block span {
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
	display: block;
	margin-bottom: 19px;
}

.messenger__photo > img {
	width: 124px;
	height: 124px;
}

.messenger__photo {
	margin-bottom: 39px;
}

.messenger__name {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	margin-bottom: 9px;
}

.messenger__position {
	color: #9ea3b4;
	font-size: 16px;
	letter-spacing: 0.32px;
	margin-bottom: 27px;
}

.messenger__info {
	color: #9ca1b2;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.42px;
	margin-bottom: 55px;
}

.messenger__email, 
.messenger__phone, 
.messenger__adress,
.messenger__organization {
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.48px;
	margin-bottom: 30px;
}

.messenger__chat {
	height: 853px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 28px 25px;
	overflow: auto;
	margin-top: 20px;
	color: #2f3242;
	margin-top: -730px;
}

.messenger__write_message {
	margin-top: 40px;
	width: 890px;
}

.messenger__textarea {
	border-radius: 10px;
	border: 1px solid rgba(156, 161, 178, 0.3);
	background-color: #404359;
	color: #9ca1b2;
	font-size: 16px;
	letter-spacing: 0.32px;
	outline: none;
	padding: 16px 24px;
}

.messenger__send {
	padding: 5px 0;
}

 .messenger__send_mess {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
} 

.messenger__send_avatar > img{
	width: 56px;
	margin-left: 30px;
}

.messenger__send_text {
	padding: 20px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.32px;
	box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #2196f3;
}

.messenger__send_date {
	text-align: right;
	padding-right: 77px;
	padding-top: 10px;
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
}

.messenger__recipient {
	padding: 5px 0;
}

.messenger__recipient_mess {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.messenger__recipient_avatar > img {
	width: 56px;
	margin-right: 21px;
}

.messenger__recipient_text {
	padding: 20px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.32px;
	box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #404359;
}

.messenger__recipient_date {
	padding-left: 77px;
	padding-top: 10px;
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
}

.main-acide__nav {
	width: 100px;
	min-height: 989px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: #2b2d3c;	
}

.main-acide__link-logo {
	color: #757da4;
	background-color: #2b2d3c;
	border: 1px solid #2b2d3c;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-left: 35px;
}

.main-acide__link-logo:hover {
	color: #fff;
}

.main-acide__link-logo:last-child {
	margin-bottom: 28px;
}

#sendLetter {
	color: #fff;
}

#sendLetter:hover {
	color: #757da4;
}

.main-acide__btn {
	display: flex;
	justify-content: center;
	margin-top: 320px;
	padding-bottom: 85px;
}

.main-acide__button {
	width: 70px;
	height: 30px;
	border-radius: 18px;
	border: 1px solid #2196f3;
	background-color: #2196f3;
	color: #fff;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.main-acide__button:hover {
	background-color: #fff;
	color: #2196f3;
	border: 1px solid #fff;
}

.textInfo {
	text-align: center;
	color: #fff;
}

