html,
body {
	height: 100%;
	width: 100%;
	margin: auto;   
	background-color: #2f3242;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

h1 {
	color: #f6f9f9;
}

h1:hover {
	color: #2196f3;
}

.mainHeader {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.5);
	background-color: #2f3242;

	&__img {
		margin: 40px;
	}

	&__block {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 63%;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__link-logo {
		color: #fff;
		padding: 0 35px 0 35px;

		&:hover {
			color: #2196f3;
		}
	}

	&__btn {
		width: 135px;
		height: 50px;
		border-radius: 24px;
		border: 2px solid #2196f3;
		background-color: #2f3242;
		color: #fff;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		cursor: pointer;

		& i {
			color: #2196f3;
			margin-left: 10px;
		}

		&:hover{
			border: 2px solid #4c4f63;
			background-color: #4c4f63;
		}
	}

}

.sectionHeader {
	&__block {
		height: 100px;
		width: 100%;
		box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
		background-color: #2196f3;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 0 0 150px;
	}

	&__btn-inbox, &__btn-sent, &__btn-trash {
		width: 90px;
		height: 30px;
		border-radius: 8px;
		background-color: #2196f3;
		border: 1px solid #2196f3;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		color: #2b2d3c;
		margin-right: 7px;
		cursor: pointer;

		& i {
			padding-right: 7px;
		}
	}

	&__btn-inbox:hover, &__btn-sent:hover, &__btn-trash:hover  {
		color: #fff;
	}

	&__btnfilter {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 50px 0 0;

		& p {
			padding-right: 30px;
			color: #fff;
		}
	}
	&__btn-filter {
		width: 160px;
		height: 40px;
		border-radius: 18px;
		border: 1.5px solid #fff;
		background-color: #2196f3;
		color: #fff;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;

		&:hover {
			color: #2196f3;
			background-color: #fff;
		}

		& i {
			padding-left: 35px;
		}
	}
}

.main-acide {
	&__nav {
		width: 100px;
		height: 90%;
		margin-top: -116px;
		box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
		background-color: #2b2d3c;	
	}

	&__list {
		list-style: none;
		padding-top: 30px;

		& li {
			padding-bottom: 60px;
		} 
	}

	&__link-logo {
		color: #757da4;

		&:hover{
			color: #fff;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 440px;
	}

	&__button {
		width: 70px;
		height: 30px;
		border-radius: 18px;
		border: 1px solid #2196f3;
		background-color: #2196f3;
		color: #fff;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: #2196f3;
			border: 1px solid #fff;
		}
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	margin-top: -29%;
	margin-bottom: 100px;
	margin-left: 130px;
	z-index: 800;
	display: none;

	&__close {
		display: flex;
		justify-content: flex-end;
		
		& i {
			margin: 15px 15px 0 0;
			color: #757da4;
			cursor: pointer;
		}
	}

	&__href {
		text-decoration: none;
		font-size: 20px;
		color: #fff;
		
		&:hover {
			color: #2196f3;
			cursor: pointer;
		}
	} 
	
	&__main {
		width: 500px;
		min-height: 450px;
		background-color: #404359;
		border-radius: 15px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 25px 0 0 0;
	}

	&__button {
		width: 110px;
    	height: 37px;
    	border-radius: 4px;
    	border: 1px solid #2196f3;
    	font-weight: 600;
    	margin: 15px 0 15px 0;
    	background-color: #2196f3; 
    	color: #fff;

    	&:hover {
    		color: #2196f3;
    		background-color: #fff;
    		border: 1px solid #fff; 
    		cursor: pointer;
    	}
	}

	&__para {
		color: #2196f3;
	}

	&__head {
		color: #fff;
		width: 90%;
		font-size: 16px;
	}
}

.field {
	width: 370px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 7px 0 7px 0;
    padding: 5px;
    cursor: pointer;

    &:hover {
    	background-color: #f0f0f0;
    }
}

.footer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 130px;
	margin-top: -70px;

	&__block {
		margin-right: 30px;
	}

	&__btn {
		width: 450px;
		height: 50px;
		border-radius: 5px;
		border: 1px solid #2196f3;
		background-color: #2196f3;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;

		& i {
			padding-right: 15px; 
		}
	}

	&__message {
		position: relative;
		color: #757da4;

		& i {
			position: absolute;
			top: 18px;
			right: 30px;
			transform: rotate(45deg);
		}
	}

	&__send-message {
		width: 925px;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #757da4;
		background-color: #404359;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		padding-left: 20px;

		&::placeholder {
			color: #757da4;
		} 
	}
}